@padding : 15px;

.index-item {

  padding: @padding;
  border-bottom: 1px solid @lighterGray;
  border-right: 1px solid @lighterGray;

  &.medium {
    min-height: @padding*20;
  }

  &.large {
    min-height: @padding*40;
  }

}